.icon--facebook { background-image: url('img/icon-png/facebook.png'); background-repeat: no-repeat; }

.icon--instagram { background-image: url('img/icon-png/instagram.png'); background-repeat: no-repeat; }

.icon--logo { background-image: url('img/icon-png/logo.png'); background-repeat: no-repeat; }

.icon--twitter { background-image: url('img/icon-png/twitter.png'); background-repeat: no-repeat; }

