html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  cursor: default;
}

img,
media,
svg {
  max-width: 100%;
  height: auto;
}

figure { margin: 0; }

nav ul{ list-style: none; }

a { outline: 0; }
