// Brand Colors
$brand_tan: #d5c8a8;
$brand_blue: #132a33;

$green: #33ff00;
$purple: #660099;
$yellow: #cccc33;

$black: #242424;
$dark-blue: #0f2027;

/**
 * $Typography
 */
$proxima-nova: "proxima-nova";



$base-font-family: $proxima-nova, Verdana, Tahoma, Helvetica Neue, Arial, sans-serif;
$serif-family: Georgia, Times, Times New Roman, serif;


